{% extends "base_usuario.html" %}

{% block content %}
<div class="row">
    <h1 align=center>{{ proyecto.nombre }}</h1>


    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <br><br><br><br>
            <li class="active"><a href="{% url 'fases.views.fase_create' proyecto.codigo %}"> Agregar Fase</a></li>
            <li class="active"><a href="#">Finalizar Proyecto</a></li>
            <li class="active"><a href="#">Solicitud de Cambio</a></li>
            <li><a href="#">Editar Comite</a></li>

        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">...</a></li>

        </ul>

    </div>

    <div class="col-sm-9  col-md-10  main">


        <h1 class="page-header">Fases </h1>

        <div class="row placeholders">
            <div>
                <table class="table table-striped table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Finalización</th>
                        <th>Estado</th>
                        <th>Tipos de Items</th>
                        <th>Items</th>
                        <th>Roles</th>
                        <th>Eliminar</th>

                    </tr>

                    <ul>
                        {% for fases in object_list %}

                        <tr>
                            <td>{{ fases.codigo }}</td>
                            <td>{{ fases.nombre }}</td>
                            <td>{{ fases.fecha_ini}}</td>
                            <td>{{ fases.fecha_fin}}</td>
                            <td>{{ fases.estado}}</td>
                            <td>
                                <ul class="nav nav-sidebar"><a
                                        href="{% url 'tipo_item.views.tipo_list' fases.codigo %}"> Configurar </a></li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav nav-sidebar"><a href="{% url 'tipo_item.views.item_list' fases.codigo %}"> Configurar </a></li></ul>
                            </td>
                            <td>
                                <ul class="nav nav-sidebar"><a href="{% url 'roles.views.rol_list' fases.codigo %}">
                                    Configurar </a></li></ul>
                            </td>
                            {% ifequal proyecto.estado "Pendiente" %}

                            <td><a href="{% url "borrar_fase" fases.codigo %}" class="btn btn-primary btn-sm
                                btn-warning" >Eliminar</a></td>
                            {% else %}
                            <td></td>
                            {% endifequal %}

                        </tr>
                        {% endfor %}
                    </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

{% endblock %}