{% extends "base.html" %}

{% block content %}
      <div class="row">




        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
            <br><br><br><br>
            <li class="active"><a href="#">Solicitud de Cambio</a></li>
            <li><a href="#">Editar Comite</a></li>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">....</a></li>
            <li><a href="">....</a></li>
          </ul>

        </div>

        <div class="col-sm-9  col-md-10  main">

                <h1 class="page-header">Fases</h1>
            <div class="row placeholders">
                <!table class=" TABLE-BORDERED table-responsive table table-hover">
                <div >
                <table class="table table-striped table-bordered table-responsive">
                <tbody>
                     <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Finalización</th>
                        <th>Estado</th>
                        <th>Tipos de Items</th>
                        <th>Items</th>

                    </tr>

                    <ul>
                      {% for fases in object_list %}

                        <tr>
                            <td>{{ fases.codigo }}</td>
                            <td>{{ fases.nombre }}</td>
                            <td>{{ fases.fecha_ini}}</td>
                            <td>{{ fases.fecha_fin}}</td>
                            <td>{{ fases.estado}}</td>
                            <td><ul class="nav nav-sidebar"><a href="#">  Ir>>  </a></li></ul></td>
                            <td><ul class="nav nav-sidebar"><a href="#">  Ir>>  </a></li></ul></td>
                        </tr>
                      {% endfor %}
                    </ul>
                </tbody>
        </table>
        </div>
        </div>
      </div>

          <ul class="pager">
  <li class="previous"><a href="#">&larr; Anterior</a></li>
  <li class="next"><a href="#">Siguiente &rarr;</a></li>
</ul>


      </div>

 {% endblock %}