{% extends "base.html" %}

{% block content %}

<h1>Usuarios</h1>
   <table class="table table-striped table-bordered">
      <tbody>
        <tr>

            <th>Nombre</th>
            <th>Apellido </th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Editar</th>
        </tr>


        <ul>
            {% for usuario in object_list %}
                <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.telefono}}</td>
                        <td>{{ usuario.estado}}</td>
                        <td><a href="{% url "editar_usuario" usuario.id %}"class="btn btn-primary btn-sm" >editar</a></td>

                    </tr>

            {% endfor %}
        </ul>
       </table>
    </tbody>

    <a href="{% url "nuevo_usuario" %}" class="btn btn-sm btn-success"> agregar</a>
{% endblock %}





