{% extends "base.html" %}

{% block title %}
Usuario
{% endblock %}

{% block content %}
<h1>Register </h1>

        {% if registered %}
        Says: <strong>gracias por registrarse!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/prueba_uno/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Muestre cada formulario. El método as_p envuelve cada elemento en un párrafo
                 elemento ( <p> ) . Esto asegura que cada elemento aparece en una nueva línea ,
                 haciendo que todo se vea más ordenado. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    {% endblock %}