{% extends "base_usuario.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <br><br><br><br>
            <li class="active"><a href="{% url 'tipo_item.views.tipo_create' fase.codigo %}">Agregar Tipo de Item</a></li>
            <li class="active"><a href="#">Importar Tipo de Item</a></li>
        </ul>

    </div>
    <div class="col-sm-9  col-md-10  main">
        <h1 align=center>{{ fase }}</h1>
        <h1 class="page-header">Tipos de Items</h1>

        <div class="row placeholders">
            <div>
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Atributos</th>
                        <th>Eliminar</th>
                    </tr>
                    <ul>
                        {% if not user.is_superuser %}
                        {% for tipo in object_list %}
                        <tr>
                            <td>{{ tipo.codigo }}</td>
                            <td>{{ tipo.nombre }}</td>
                            <td>{{ tipo.descripcion }}</td>
                            <td>
                                <ul class="nav nav-sidebar"><a
                                        href="{% url 'tipo_item.views.atributo_list' tipo.codigo %}"> configurar </a></li>
                                </ul>
                            </td>

                               <td><a href="{% url "borrar_tipo" tipo.codigo %}" class="btn btn-primary btn-sm btn-warning" >Eliminar</a></td>

                        </tr>
                        {% endfor %}
                        {% endif%}
                    </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>


    {% endblock %}