{% extends "base.html" %}{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>{% csrf_token %}

   <fieldset>

       <p> </p><p> </p>

    <div class="controls">

        <input type="text" placeholder="Nombre de usuario   " name="username" value="" id="username">
    </div>

       <p> </p>



    <div class="controls">

        <input type="password" placeholder="Contraseña"name="password" value="" id="password">
    </div>
    <!input type="submit" value="login" />

     <div class="row-fluid">
         <div class="span6">
                                     <p class="forgot-password-helper">
                                     </p>
                                   </div>

           <div class="span3">
               <p> </p>

                <input  class="btn btn-success" type="submit" value="Log in">
           </div>
     </div>
    </fieldset>
                </form>


    <input type="hidden" name="next" value="{{ next|escape }}" />
  <form action='.' method='post'>

{% endblock %}
