{% extends "base.html" %}

{% block content %}
      <div class="row">




        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
            <br><br><br><br>
                {% if not user.is_superuser %}

                <li class="active"><a href="{% url 'proyectos.views.proyecto_create' %}">Agregar Proyecto</a></li>
                {% endif %}

          </ul>

        </div>

        <div class="col-sm-9  col-md-10  main">

            <h1 class="page-header">Proyectos</h1>
            <div class="row placeholders">
                <div >
                <table class="table table-striped table-bordered">
                <tbody>

                     <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Finalización</th>
                        <th>Estado</th>
                        <th>Lider</th>
                        <th>Configurar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>

                    <ul>


                    {% for proyecto in object_list %}

                        <tr>
                            <td>{{ proyecto.codigo }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.fecha_ini}}</td>
                            <td>{{ proyecto.fecha_fin}}</td>
                            <td>{{ proyecto.estado}}</td>
                            <td>{{ proyecto.lider }}</td>
                            {% if not user.is_superuser %}

                            <td><a href="{% url 'fases.views.fase_list' proyecto.codigo %}" class="btn btn-primary btn-sm " >configurar</a></td>
                            {% else %}
                            <td></td>
                            {% endif%}

                                {% ifequal proyecto.estado "Pendiente" %}

                                    <td><a href="{% url "editar_proyecto" proyecto.codigo %}" class="btn btn-primary btn-sm" >editar</a></td>

                                    <td><a href="{% url "borrar_proyecto" proyecto.codigo %}" class="btn btn-primary btn-sm btn-warning" >Eliminar</a></td>
                                {% else %}
                                   <td> </td>
                                   <td> </td>
                                {% endifequal %}

                        </tr>
                    {% endfor %}



                    </ul>

                </tbody>
            </table>

                </div>
              </div>
{% comment %}
          <ul class="pager">
            <li class="previous"><a href="#">&larr; Anterior</a></li>
            <li class="next"><a href="#">Siguiente &rarr;</a></li>
          </ul>
{% endcomment %}


      </div>
          </div>

 {% endblock %}